{% extends 'base.html.twig' %}

{% block body_content %}
    <div class="row">
        <div class="col-md-12">
            <h4 class="mb-3">Recent Comments</h4>

            {% for comment in comments %}
                {% include 'comment/_partials/comment.html.twig' %}
            {% endfor %}
            

            {{ knp_pagination_render(comments) }}

            <hr />

            <h4 class="mb-3">Add a comment</h4>

            {# Display the form, we set type to 'comment' #}
            {% include 'comment/_partials/form.html.twig'  with { 'type': 'comment' } %}

        </div>
    </div>
{% endblock body_content %}
